/* Style sheet uses a fixed grid using CSS grid module
*  Grid's layout, colors, and fonts emulates CGoban3 look
*
* The besogo editor has 7 panels:
* 1.   board   (for the goban)
* 2.   control (for navigating the game tree)
* 3.   names   (For players's names and info)
* 4.   comment (For games' move by move comments)
* 5.   tool    (for markup tools)
* 6.   tree    (for game tree and variations)
* 7.   file    (for file loading and saving buttons)
*
*       We want to emulate this layout (not to scale!)      tracks
*    +------------------------+--------------------1-+      
*    | +--------------------+ 2  40px  2-control   2 |       40px
*    | |                    | |--------------------3-|
*    | |                    | |  30px  3-tool        |       30px
*    | |                    | |--------------------4-|
*    | |  410px 1-board     | |                      |
*    | |                    | |                      | 
*    | |                    | |  310px 4-comments    |      310px 
*    1 2                    3 4                      5
*    | |                    | |                      |
*    | |                    | |--------------------5-|    
*    | +--------------------+ |                    6 |       70px
*    |------------------------|                    7 |      
*    |                        |  180px 6-tree        |     
*    |                        |                      |      110px
*    | 140px 5-names          |                      |
*    |                        |--------------------8-|     
*    |                        |   30px 7-file        |       30px 
*    +------------------------+--------------------9-+      
*                 450px                 300px
*
*     There are 7 panels in total, and the board has a 
*     border all around where the underlying container shows thru.
*     In CSS grid terms we have 5 vertical lines delimiting 4 vert. tracks
*     and 9 horizontal lines delimiting 8 horiz. tracks.
*     The sizes of the tracks in the diagram are in px assuming    
*     an ideal size (h:590 x w:750), with proportionally smaller widths 
*     for smaller sizes.
*
*     (Line 4 could perhaps be moved down to make the tree panel
*     aligned with the names/game info panel as it is is CGoban3).
*/                      

/* 0. Main container for the besogo editor  */
.besogo-container {
   width:  750px;
   height: 590px;
   display: grid;   
   grid-template-rows:    minmax(0, 3%)  minmax(0,3%)  minmax(0, 9%)  minmax(0, 50%)  minmax(0, 8%) minmax(0, 3%) minmax(0, 20%)  minmax(0, 4%);
   grid-template-columns: minmax(0, 3%)  minmax(0,54%)  minmax(0, 3%)  minmax(0, 40%);
   min-height: 0;  
   min-width: 0;   
   font-family: Helvetica, sans-serif;
   font-size: 10pt;
    /* TEST COLOR  Antique White: #FAEBD7    */
    /* background: #FAEBD7; */
    background:  #675443;  /* will show up as a border around the board*/
}                       

.besogo-container * {
    box-sizing: border-box;
    /* background:  #675443;  /\* will show up as a border around the board*\/ */
}

.besogo-container button {
    height: 15px;
    width: 17px;
    padding: 0px;
    justify-content: center;
    background: #d8dcd6;
}

.besogo-container input {
    font-size: 10pt;
}

.besogo-container input[type='button'] {
    background: #d8dcd6;
}

.besogo-container input[type='text'] {
    width: 30px;
}

.besogo-container svg {          /* Prevent text selection within SVG */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
     user-select: none;
}

/* The empty goban borders, now set to white for testing*/
.besogo-panel0-1 {
    grid-column: 1/4;
    grid-row:    1/2;
    align-items: center;
    min-height: 0; 
    min-width:0; 
    background:#FFFFFF;} 
    
.besogo-panel0-2 {
    grid-column: 1/2;
    grid-row:    2/6;
    align-items: center;
    min-height: 0; 
    min-width:  0; 
    background:#FFFFFF;} 

.besogo-panel0-3 {
    grid-column:1/4;
    grid-row:6/7;
    align-items: center;
    min-height: 0; 
    min-width:  0; 
    background:#FFFFFF;} 
    
.besogo-panel0-4 {
    grid-column: 3/4;
    grid-row:    2/6;
    align-items: center;
    min-height: 0; 
    min-width:  0; 
    background:#FFFFFF;}

.besogo-board-outside-border {
    /* Just for the outline around the board' external area */
    grid-column: 1/4;
    grid-row: 1/6;
    /* outline: 3px solid black; */
}


/* 1. the panel for the main board */
.besogo-board {
    grid-column: 2/3;
    grid-row:    2/6;
    align-items: center;
    min-height: 0; 
    min-width:0;
    background:   #DDBC6B;} 

/* Sensei's Library mimic board theme */

.besogo-svg-board {
    fill: #DDBC6B;
}

.besogo-svg-lines {
    stroke: black;
    stroke-width: 3;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: black;
    stroke-width: 15;
    stroke-linecap: square;
}

.besogo-svg-blackStone {
    fill: #252525;
    stroke: #252525;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: #f5f5f5;
    stroke: #f5f5f5;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}



/* 2. The movement (control) panel */
.besogo-control {
    grid-column: 4 / 5 ;
    grid-row: 1 / 3 ;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   /* Color for the control area is a bluish gray #42676B */
    overflow: auto;
    min-height: 0; 
    min-width:0;     
    background: #42676B;
}

/* 3. The panel for the markup tools */
.besogo-tool {
    grid-column:  4 / 5 ;
    grid-row: 3 / 4 ;
    overflow: auto;
   /* Color for the markup is the same as for control, a dark grey  #466567  */
    min-height: 0; 
    min-width:0;
    background: #774441;
}

/* 4. The panel for the move by move comments */
.besogo-comment {
    grid-column:  4 / 5 ;
    grid-row: 4/7 ;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
   /*  white-space: pre-wrap; */
   /*  overflow: auto; */
   /*  width: 100%; */
   /* /\* Color for the comments is a  warm grayish    *\/ */
    overflow: scroll;
    min-height: 0; 
    min-width:0;
    overflow: auto;
    background: #BABBAB;
}

.besogo-comment input[type='button'] {
    float: right;
}

.besogo-comment textarea {
    height: 100%;
    width: 100%;
    background: #BABBAB;}

.besogo-gameInfo {
    padding: 5px;
    border-collapse: collapse;
    background: #BABBAB;}

.besogo-gameInfo td, tr {
    border: 1px solid black;
    padding: 3px;
    background: #BABBAB;
}

/* 5. The names (or game info) panel */
.besogo-names {
    grid-column:  1 / 4 ;
    grid-row: 7/9 ;
    /* outline: 3px solid black; */
/*     width: 100%; */
   /* Color for the names is a black #333333     */
   /* But using a different color for test purposes: Gold #FFD700 */
    overflow: auto;
    min-height: 0; 
    min-width:0;
    background: #555555;
    border: 3px;
}

.besogo-playerInfo {
    /* display: flex; */
    font-family: Tahoma, Geneva, sans-serif;
    white-space: pre-wrap;
}

.besogo-blackInfo {
    /* flex: 50%; */
    /* color: white; */
    /* background: black; */
    color: #000000;
    background: #555555 ;
    text-align: right;
    padding: 5px;
}

.besogo-whiteInfo {
    /* flex: 50%; */
    /* color: black; */
    /* background: white; */
    color: #FFFFFF;
    background: #555555 ;
    text-align: left;
    padding: 5px;
}

.besogo-blackCaps {
    float: left;
}

.besogo-whiteCaps {
    float: right;
}

/* 6. The panel for the game tree */
.besogo-tree {
    grid-column:  4 / 5 ;
    grid-row: 7 / 8 ;
    max-width: none;  /* Necessary to show tree at real (and scaled size) instead of the whole SVG cramped into the panel  )*/
   /* Color for the tree background is a black: #333333    */
   /* But using a different color for test purposes: Hot pink #FF69B4 */
    overflow: auto;
    min-height: 0;
    min-width:0;
    background: #333333;
}

.besogo-svgTree {
    max-width: none !important; // Needed to override 100% set by TW
    max-width: unset;
}

.besogo-svg-backer {
    /* The background to the rectangle holding the tree nodes,
       superimposed over the besogo-tree div */
   /* Color for the tree background is a black: #333333    */
   /* But using a different color for test purposes: Hot pink #FF69B4 */
    /* background: #333333; */
    fill: #555555;
}



/* 7. The panel for the file loading and saving commands */
.besogo-file {
    grid-column:  4 / 5 ;
    grid-row: 8 / 9;
    /* Color for the file laoding is  a very dark grey/black:  #222222  */
    /* But using a different color for test purposes: Green/Yellow #ADFF2F */
    min-height: 0;
    min-width:0; 
    overflow:auto;
    background: #555555;
}


/* Stones with more realistic gradients---FIX */

.besogo-svg-whiteStone-gradient {
   background-image: radial-gradient(circle, white, black);
}

.besogo-svg-blackStone-gradient {
   background-image: radial-gradient(circle, black, white);
}

.besogo-svg-grayStone-gradient {}
